.catalogue {
  &-item {
    border-top: 1px solid $grey-2;
    color: $default-color;
    display: block;
    padding-top: 2rem;

    &:last-child {
      border: 0;
    }

  }

  &-post-tag {
    border-bottom: 1px solid $grey-2;
    padding-bottom: 2rem;
  }


  &-time {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0;
  }

}
